<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Game using JS DOM Manipulation</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="countdown"></div>
    <h1 class="game-title">Work with your memory || Match the tiles</h1>
    <div id="alert"></div>
    <div class="gamebar">
        <div class="options">
            <div class="bestscore">Best : <span id="bestscore-value">0</span></div>
        </div>
        <div class="options1 hide">
            <div class="time">Time : <span id="time-elapsed">0 min:00 sec</span></div>
            <div class="flips">Flips : <span id="flips-count">0</span></div>
        </div>
        <div class="buttons">
            <button id="start">Start Game</button>
            <button id="reset" class="hide">Replay</button>
        </div>
    </div>
    <div id="game" class="grid-container">
    </div>
    <div id="result" class="hide">
        <p>Congratulations ! You have matched all the cards in <span id="total-flips">0</span> flips and in <span id="result-time">0</span></p>
    </div>
    <script src="/js/all.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>