<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Game using JS DOM Manipulation</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="gamebar">
        <div class="options">
            <div class="time">Time : <span id="time-elapsed">0</span></div>
            <div class="flips">Flips : <span id="flips-count">0</span></div>
            <div class="bestscore">Best : <span id="bestscore-value">0</span></div>
        </div>
        <div class="buttons">
            <button id="start">Start</button>
            <button id="reset">Reset</button>
        </div>
    </div>
    <div id="game" class="grid-container">
    </div>
    <div id="result" class="hide">
        <p>Congratulations ! You have matched all the cards in <span id="total-flips">0</span> flips and in <span id="result-time">0</span> Seconds</p>
    </div>
    <script src="https://kit.fontawesome.com/077358db92.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>