<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Game using JS DOM Manipulation</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="game" class="grid-container">
    </div>
    <script src="https://kit.fontawesome.com/077358db92.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>

</html>