@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}


body{
    background: linear-gradient(to bottom, #232435, #234352) no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
}

#alert {
    align-self: center;
    padding: 20px;
    display: flex;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#alert.error {
    color: white;
    background: rgba(184,59,64,0.8);
}

#alert.error::before{
    content: '\f071';
    font-family: FontAwesome;
    margin-right: 10px;
}

#alert.info {
    color: white;
    background: #4ccc8d;
}

.game-title {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.gamebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.options {
    display: flex;
}

.options div{
    margin-right: 30px;
}

.options1 {
    display: flex;
}

.options1 div{
    margin-right: 30px;
}

.time,.score,.flips,.bestscore {
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: white;
    font-size: 20px;
    color: darkslategray;
}

.buttons button {
    margin-left: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    border: none;
    background: white;
    color: darkslategray;
    cursor: pointer;
}

.buttons button:hover{
    background: white;
    color: darkslategray;
}

.grid-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    grid-gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
    text-shadow: 0 2px 10px rgba(255,255,255, 0.9);
    width: 150px;
    height: 200px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.8);
    cursor: pointer;
}

.grid-item.sea {
    background-color: #16a085;
}

.grid-item.emerald {
    background-color: #2ecc71;
}

.grid-item.river {
    background-color: #3498db;
}

.grid-item.wisteria {
    background-color: #8e44ad;
}

.grid-item.asphalt {
    background-color: #34495e;
}

.grid-item.orange {
    background-color: #f39c12;
}

.grid-item.carrot {
    background-color: #e67e22;
}

.grid-item.pumpkin {
    background-color: #d35400;
}

.grid-item.pomegranate {
    background-color: #c0392b;
}

.grid-item.silver {
    background-color: #7f8c8d;
}

.grid-item.livid {
    background-color: #6a89cc;
}

.grid-item.green {
    background-color: #b8e994;
}

.grid-item.red {
    background-color: #b71540;
}

.grid-item.blue {
    background-color: #0a3d62;
}

.grid-item.cream {
    background-color: #f8c291;
}

.grid-item.yellow {
    background-color: #f6b93b;
}

.grid-item.primer {
    background-color: #222f3e;
}

.grid-item.purple {
    background-color: #341f97;
}

.grid-item.pink {
    background-color: #f368e0;
}

.grid-item.gray {
    background-color: #4b4b4b;
}

.grid-item.show.plus::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f067';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.bookmark::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f02e';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.heart::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f004';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.circle::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f111';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.file::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f15b';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.calendar::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f133';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.play::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f04b';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.square::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f0c8';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.cloud::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f0c2';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.grid-item.show.comment::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\f075';
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
}

.disable {
    pointer-events: none;
}

.grid-item.matched.show::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Matched';
    font-size: 30px;
    color: white;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    from {
        color: red;
    }
    to {
        color: yellow;
    }
}

.rotate {
    animation: flip 0.5s linear;
}

@keyframes flip{
    from{
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 100px rgba(0,0,0,0.9);
    animation : change 5s ease-in-out infinite;
}

@keyframes change {
    0%{
        background: white;
        color: #343a40;
    }
    25% {
        background: #343a40;
        color: white;
    }
    50% {
        background: #6e747a;
        color: white;
    }
    100% {
        background: #a4a8ac;
        color: #343a40;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

@media screen and (max-width:1440px){
    .gamebar {
        padding: 20px 30px;
    }
    .grid-container {
        padding: 20px;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .grid-item {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    .grid-item.matched.show::after{
        font-size: 18px;
    }

    .time,.score,.flips,.bestscore{
        font-size: 16px;
    }

    .buttons button {
        font-size: 16px;
    }
}

@media screen and (max-width: 875px){
    .gamebar {
        padding: 10px 20px;
    }

    .grid-container {
        padding: 10px;
        grid-gap: 10px;
    }

    #alert {
        font-size: 16px;
        padding: 10px;
    }

    .options div{
        margin-right: 10px;
    }

    .options1 div{
        margin-right: 10px;
    }

    .time,.score,.flips,.bestscore{
        padding: 5px 10px;
        font-size: 14px;
    }

    .buttons button {
        padding: 5px 10px;
        font-size: 14px;
        margin-right: 10px;
    }

    #result {
        font-size: 20px;
    }
}

@media screen and (max-width: 475px){
    .game-title {
        margin-top: 10px;
        font-size: 20px;
    }

    .gamebar {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(40px, 1fr));
    }

    .options {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .options div{
        margin-right: 10px;
    }

    .options1 {
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: start;
    }

    .options1 div{
        margin-right: 10px;
    }

    .time,.score,.flips,.bestscore{
        padding: 5px 10px;
        font-size: 14px;
    }

    .buttons {
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: end;
    }

    .buttons button {
        padding: 5px 10px;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 10px;
    }

    #result {
        font-size: 20px;
    }
}